# Arquivos temporários do sistema
.DS_Store
Thumbs.db

# Arquivos de configuração de IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Arquivos de build e dependências
/node_modules/
/dist/
/build/

# Arquivos de log
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos de ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Arquivos específicos de Unity
# Diretórios
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/[Rr]ecordings/
/[Aa]ssets/AssetStoreTools*
/[Aa]ssets/Plugins/Editor/JetBrains*

# Arquivos de cache
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Arquivos de Unity3D gerados
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Crash reports
sysinfo.txt

# Builds
*.apk
*.aab
*.unitypackage
*.app

# Crashlytics
crashlytics-build.properties

# Arquivos específicos de Godot
.import/
export_presets.cfg
export.cfg
.mono/
data_*/

# Arquivos específicos de C++
*.o
*.obj
*.exe
*.out
*.app
*.dll
*.so
*.dylib
*.lib
*.a
*.la
*.lo

# Arquivos específicos do Blender
*.blend1
*.blend2
*.blend3
*.blend4
*.blend5

# Outros arquivos que não devem ser versionados
*.bak
*.swp
*.swo
*~